.imges{
    display: flex;
    justify-content: center;
    margin: 1% 8%;
    width: 84%;
}
img{
max-width: 15%;
height: 200px;
transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.1); /* Increase size on hover (adjust as needed) */
}
.women{
width: 60%; 
margin: 0 auto; 
padding: 10px; 
display: flex;
justify-content: flex-start;
margin: 1% 8%;
width: 84%;
}
.pwr2{

max-width: 50%;
height: 250px;
}
.empower{
grid-gap: 5px;
display: flex;
justify-content: flex-end;
margin: 1% 8%;
width: 75%;
}
.pwr4{
width: 200px; 
height: 200px;
margin-left: 20px;
}
p{
margin-bottom: auto;
}
.text{
justify-content: center;
text-align: center;
margin: 6;
margin: 1% 8%;
  width: 84%;

}
.pwr4{
display: flex;
justify-content: space-around; 
align-items: center;
flex-wrap: wrap; 
gap: 20px; 

}
.pwr5{
display: flex;
justify-content: space-around; 
align-items: center;
flex-wrap: wrap; 
gap: 20px; 
text-align: center;
width: 200px;

}
.spch2{
justify-content: flex-start;
width: 80%; 
margin: 0 auto; 
padding: 10px; 
display: flex;
margin: 1% 8%;
width: 84%;

}

h1, h5, h2, h4{
    font-family: 'Merriweather', serif;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  background-color: #fa6dbd; 
}

.up {
  text-align: center;
  padding: 20px;
  background-color: #eb51a1; 
  border-radius: 10px;
}

h1, p {
  color: #000000; 
}

.signup-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #eb0e7c; 
  border-radius: 5px;
  text-decoration: none;
  color: #131212; 
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.signup-btn::after {
  content: '➜'; 
  margin-left: 5px;
}

.signup-btn:hover {
  color: white;
  background-color: #f5268d; 
  transform: translateY(-2px);
}
@media screen and (max-width: 400px) {
  .imges {
    flex-direction: column;
    align-items: center;
  }

  .imges img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .women,
  .empower,
  .spch2,
  .up,
  .text {
    margin: 4% 2%;
    width: 96%;
  }

  .signup-btn {
    padding: 8px 16px;
  }

  h1,
  h5,
  p {
    font-size: 18px;
  }
body{
    background-color: #b4abab;
}
h1, h5, p, .signup-btn {
  transition: color 0.3s, transform 0.3s;
}


h1:hover, h5:hover, p:hover, .signup-btn:hover {
  transform: scale(1.1); 
  color: #000000;
  
